[Mapping]

# Reduce the default time (1000s) to wait for compression for breakout

router_table_compression_with_bit_field_iteration_time = 1

# Breakout doesn't implement delays, so avoid DelaySupportAdder
delay_support_adder = None
